#----------------------------------------------------------
# Application main configurations
#----------------------------------------------------------
composer.json
*/vendor/*
.env
docker-compose.yml
ep04/source/Config.php

#----------------------------------------------------------
# IDE configurations
#----------------------------------------------------------
.vscode
.idea