#----------------------------------------------------------
# Application main configurations
#----------------------------------------------------------
composer.json
.env
docker-compose.yml
vendor/*

#----------------------------------------------------------
# IDE configurations
#----------------------------------------------------------
.vscode
.idea